div{
    background: url("img/lipky\ \(9\).jpeg") center/cover no-repeat;
height: 650px;
width: 100%;
border: 4px solid rgb(43, 178, 241);
border-radius: 10px;
box-shadow: 5px 5px 15px rgb(2, 48, 70);
font-size: xx-large;
font-family: 'Times New Roman', Times, serif;
color: aliceblue;



    color: white;
    

}

h1{
    color: aliceblue;
}

h3{
    color: aliceblue;
}

h4{
    color: aliceblue;
}

h2{
    color: aliceblue;
}

