div{
    background-color: rgb(60, 188, 247);
    height: 180px;
    width : 300%;
    border : 4px solid rgb(43, 178, 241);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(2, 48, 70);
    font-size: xx-large;
    font-family: Gill sans;
    font-style: initial;
    color: aliceblue;
    

}

h1{
    color: aliceblue;
}

h3{
    color: aliceblue;
}

h4{
    color: aliceblue;
}

h2{
    color: aliceblue;
}